In [1]:
import pandas as pd

In [2]:
# pd.read_csv("Weather_data.csv")

In [3]:
# df= pd.read_excel("Weather_data.xlsx")

In [4]:
weather_data= {"Day":["1-1-2017","1-2-2017","1-3-2017","1-4-2017","1-5-2017", "1-6-2017"],
               "Temprature":[32,35,28, 24,32,31],
              "Windspeed":[6,7,2,7,4,2],
              "Event": ["Rain", "Sunny", "Snow", "Snow", "Rain", "Sunny"]}
df= pd.DataFrame(weather_data)

In [5]:
df.head()

        Day  Temprature  Windspeed  Event
0  1-1-2017          32          6   Rain
1  1-2-2017          35          7  Sunny
2  1-3-2017          28          2   Snow
3  1-4-2017          24          7   Snow
4  1-5-2017          32          4   Rain

In [6]:
# To select column in some defined order

sf= pd.DataFrame(weather_data, columns=["Day", "Temprature", "Event", "Windspeed"])

In [7]:
sf.head()

        Day  Temprature  Event  Windspeed
0  1-1-2017          32   Rain          6
1  1-2-2017          35  Sunny          7
2  1-3-2017          28   Snow          2
3  1-4-2017          24   Snow          7
4  1-5-2017          32   Rain          4

In [8]:
#Dataframe using Dictionary

weather_data=[{"day":'2022-12-01', "temprature":18, "windspeed":24, "event":"Rain"},
             {"day":'2022-12-02', "temprature":20, "windspeed":21, "event":"Snow"},
             {"day":'2022-12-03', "temprature":22, "windspeed":22, "event":"Sunny"}]

In [9]:
df= pd.DataFrame(weather_data)
df

          day  temprature  windspeed  event
0  2022-12-01          18         24   Rain
1  2022-12-02          20         21   Snow
2  2022-12-03          22         22  Sunny

In [10]:
while True:
    s = int(raw_input('Convert: '))
    if (len(s)>10 | len<(s)=0):
        print( "Error! Base must be between 2 and 32.")
        continue
    break

SyntaxError: invalid syntax (<ipython-input-10-ab8b14a9b925>, line 3)

In [11]:
while True:
    guess = input("Enter the fruit's name in order:")
    if len(guess)>2:
        print('more than 2 digit enter again')
    else:
        break

Enter the fruit's name in order:4444
more than 2 digit enter again
Enter the fruit's name in order:22